[Unit]
Description=Psychological Essence Bot
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name psybot-1 --env-file /root/.env psy-essence-bot
ExecStop=/usr/bin/docker stop psybot-1

[Install]
WantedBy=multi-user.target
